#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

#score {
  text-align: center;
}

h1 {
  text-align: center;
  color:blueviolet
}

body {
  background-color: lightcyan;
}
/* 
#start {
  text-rendering: ;
} */